fastapi==0.115.6
ipython==8.12.3
jiwer==3.0.5
matplotlib==3.10.0
numpy==2.2.1
opencv_contrib_python==4.10.0.84
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
optimum==1.23.3
pandas==2.2.3
pdf2image==1.17.0
Pillow==11.1.0
pytesseract==0.3.13
Requests==2.32.3
texify==0.2.1
torch==2.5.1+cu118
transformers==4.46.2
ultralytics==8.3.31
